  body{
    margin: 0;
  }
  div{
    width: 100px;
    height: 100px;
  }
  
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  
  
  #color1{
    background-color: hsl(0,100%,50%);
  }
  #color2{
    background-color: hsl(90,100%,50%);
  }
  #color3{
    background-color: hsl(180,100%,50%);
  }
  #color4{
    background-color: hsl(45,100%,50%);
  }
  #color5{
    background-color: hsl(145,100%,50%);
  }
  #color6{
    background-color: hsl(260,100%,50%);
  }
  #color7{
    background-color: hsl(30,100%,50%);
  }
  #color8{
    background-color: hsl(115,100%,50%);
  }
  #color9{
    background-color: hsl(320,100%,50%);
  }