<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container"> 
        <div class="col1">
          <div id="color1"></div>
          <div id="color2">test</div>
          <div id="color3">test</div>
          <button type="button" onclick="colorSwap(getRandomColor())">Сменить цвет</button>
        </div>
        <div class="col2">
          <div id="color4">test</div>
          <div id="color5">test</div>
          <div id="color6">test</div>
          <button type="button" onclick="colorSwap2(getRandomColor())">Сменить цвет</button>
        </div>
        <div class="col3">
          <div id="color7">test</div>
          <div id="color8">test</div>
          <div id="color9">test</div>
          <button type="button" onclick="colorSwap3(getRandomColor())">Сменить цвет</button>
        </div>
        <button type="button" onclick="colorSwap90(getRandomColor())">Сменить цвет палитры треугольником</button>
        <button type="button" onclick="colorSwapComp(getRandomColor())">Сменить цвет палитры комплементарно</button>
        <!-- <button type="button" onclick="testing()">test</button> -->
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>